<div class="dual-list">
  <div class="list panel panel-default pull-left">
    <div class="panel-heading">
      <label>{{ leftTitle }}</label>
      <div class="btn-group">
        <button class="btn btn-default" (click)="_leftList.selectAll()" [disabled]="_leftList.isSelectedAll()">All</button>
        <button class="btn btn-default" (click)="_leftList.selectNone()" [disabled]="_leftList.isSelectedNone()">None</button>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of _leftList.base" (click)="selectItem(_leftList.selected, item)"
          [ngClass]="{ active: isSelected(_leftList.selected, item) }">
        <span>{{ item[display] }}</span>
      </li>
    </ul>
  </div>

  <div class="btn-group-vertical">
    <button type="button" class="btn btn-primary add" (click)="moveSelectedItems(_leftList, _rightList)"
            [disabled]="!_leftList.selected.length">></button>
    <button type="button" class="btn btn-primary remove" (click)="moveSelectedItems(_rightList, _leftList)"
            [disabled]="!_rightList.selected.length"><</button>
  </div>

  <div class="list panel panel-default pull-left">
    <div class="panel-heading">
      <label>{{ rightTitle }}</label>
      <div class="btn-group">
        <button class="btn btn-default" (click)="_rightList.selectAll()" [disabled]="_rightList.isSelectedAll()">All</button>
        <button class="btn btn-default" (click)="_rightList.selectNone()" [disabled]="_rightList.isSelectedNone()">None</button>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item"  *ngFor="let item of _rightList.base" (click)="selectItem(_rightList.selected, item)"
          [ngClass]="{ active: isSelected(_rightList.selected, item) }">
        <span>{{ item[display] }}</span>
      </li>
    </ul>
  </div>
</div>
